/*
 @media (min-width: 320px) and (max-width: 480px) {
    
  }
@media (min-width: 481px) and (max-width: 767px) { 
  }
@media (min-width: 768px) and (max-width: 1024px) {
    } 
 @media (min-width: 993px) and (max-width: 1200px){
 }

*/


/* start Home page */
@media (min-width: 220px) and (max-width: 480px) {
    .pdg{
        padding-bottom: 20px !important
    }
   
    .upper-bar .info p {
        float: left;
        /* display: none !important; */
        font-size: 5px !important

    }
    
    .col-sm{
        position: relative;
        width: auto;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    
.upper-bar .row{
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}
    .row div ul{
        padding-left: 90px;
        float: right;
        text-align:right !important;

    }
    .container {
        padding-right: 17px;
        padding-left: 17px;
        margin-right: auto;
        margin-left: auto;
    }
.text-sm-right{
    text-align:right !important;
}
   
    
    
  }
@media (min-width: 481px) and (max-width: 767px) {
    .upper-bar .info img {
        width: 40px !important;
        height: 40px !important;
        margin-left: 3px;
       
       
    }
    .upper-bar .info p {
      
        font-size: 10px;
        margin-top: 20px;
        margin-top: 24px;
        margin-left: 40px;
    }
.upper-bar .row{
    margin-left: 0px;
    margin-right: 0px;
}
    
    .upper-bar .info ul li {
       
        margin-top: 20px;
        font-size: 13px;
        font-weight: bolder;
    
    }
    .upper-bar .col-sm {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    

  }
 /*================================================================================================*/

/* start navbar */

/* start navbar */

@media (min-width: 320px) and (max-width: 480px) {
    .navbar-nav{
      margin-left: -111px !important; 
      
        
    }
    .navbar-light .nav-item .home {
        margin-left: 0px;
    }
    .navbar-nav .nav-item{
        margin-left: 120px;
    }
  .navbar-nav .dropdown-menu {
      position: static;
      background-color: #22588f;
      float: none;
      width: 200px;
      margin-left: 87px;
      box-shadow: none;
  }
  .navbar-nav .dropdown-item {
      color: #ffffff;
        margin-left: -120px;
        margin-top: 0px;
    
    
  }
  .triangle-up {
      display: none;
  }
 
  .navbar-nav .dropdown-menu>li>a:hover,
  .navbar-nav .dropdown-menu>li>a:focus {
      color: #FEDE50 !important;
      background-color: transparent;
  }
  .navbar-light .navbar-nav .nav-item .nav-link:focus {
      color: #FEDE50;
  }

  .navbar-light .navbar-nav .nav-link:hover {
      color: #FEDE50;
  }

}
@media (min-width: 481px) and (max-width: 767px){
  .navbar-nav .dropdown-menu>li>a:hover,
  .navbar-nav .dropdown-menu>li>a:focus {
      color: #FEDE50 !important;
      background-color: transparent;
  }
  .navbar-light .navbar-nav .nav-item .nav-link:focus {
      color: #FEDE50 !important;
  }

  .navbar-light .navbar-nav .nav-link:hover {
      color: #FEDE50 !important;
  }


}
@media (min-width: 768px) and (max-width: 992px) {
  .navbar-nav{
      margin-left: -100px !important;
     
      
  }
  .navbar-nav .dropdown-menu>li>a:hover,
  .navbar-nav .dropdown-menu>li>a:focus {
      color: #FEDE50 !important;
      background-color: transparent;
  }
  .navbar-light .navbar-nav .nav-item .nav-link:focus {
      color: #FEDE50 !important;
  }

  .navbar-light .navbar-nav .nav-link:hover {
      color: #FEDE50 !important;
  }


 
  
}
/*====================================================================================================*/
/*start oviwer */
@media (min-width: 220px) and (max-width: 480px) {
    /* .overivwe {
        margin-left: 25px;
        margin-right: 25px;
    } */
    .contaimg {
    padding-left: 0px !important;
    display: flex;
    background: white;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  
   
  }
    
    .overviwe_card_img {
        float: none;
        /* padding: 10px 15px 10px 15px; */
    }
    .overviwe_card_img img {
        width: 100%;
       
     
        padding-left: 15px;
        padding-right: 15px
    }
    .overviwe_card_info {
        float: none;
        margin:0% auto;
        /* padding: 10px 15px 10px 15px; */
        text-align: center;
      
    }
    
  
    .overviwe_card_info p {
        margin-top: 38px;
        color: #000000;
        font-weight: bold;
        font-size: 10px;
       
       
    }
    .c{
        font-size: 14px
    }
    
    /* .overviwe_card_info .bottom{
        margin-left: 34px;
        margin-right: 34px;
       margin-top: -20px;
    } */

    
    
}
@media (min-width: 481px) and (max-width: 767px) { 
    .overivwe {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .overviwe_card_img {
        float: none;
    }
    .overviwe_card_img img {
        width: 360px;
        margin: 20px auto;
        margin-left: 60px;
    }
    .overviwe_card_info {
        float: none;
        margin:0% auto;
        padding: 10px 15px 10px 15px;
        text-align: center;
      
    }
    
    .contaimg {
        padding-left: 0px !important;
        display: flex;
        background: white;
        width: 80%;
        margin: 0 auto;
        padding: 20px;
      
       
      }
  
    .overviwe_card_info p {
        font-weight: bold;
        font-size: 15px; 
    }
    .c{font-size: 20px;}

}
@media (min-width: 768px) and (max-width: 1199px) {
    
    .overivwe {
        margin-left: 15px;
        margin-right: 15px;
    }
    .overviwe_card_img {
        float: none;
        margin-left: 108px;
         margin-right: 108px;

    }

    .overviwe_card_info {
        float: none;
        margin:0% auto;
        padding: 10px 15px 10px 15px;
        text-align: center;
      
    }
    
  
    .overviwe_card_info p {
        margin-top: 38px;
        color: #000000;
        font-weight: bold;
        font-size: 30px;
       
    }
    .pdg{
        padding: 55px !important
    }
    .overviwe_card_info .bottom{
        margin-left: 34px;
        margin-right: 34px;
        margin-top: -20px;
    }
    
    .overviwe_card_img {
        float: none;
    }
    .overviwe_card_img img {
        width: 490px;
        margin: 20px auto;
    }


  } 
/*======================================================================================================*/
/*strat about page */
@media (min-width: 320px) and (max-width: 480px) {
    .card_project .card-about{
        margin-left: 15px;
        margin-right: 15px;
    }
}

/*========================================================================================================*/
/* best project */
@media (min-width: 320px) and (max-width: 480px) {
    .header h2 {
        font-size: 16px;
    } 
    .search2 {
        margin: 0% auto;
       
    }
    .header {
        margin-top: 10px;
    }
    
    .header .search i {
        position: absolute;
        margin-left: 148px;
    }
    
    .header .search .form-control {
        box-shadow: 3.5px 3.5px 3.5px 3.5px #ddd;
        border: 0px;
        border-radius: 12px;
        width: 170px;
        height: 34px;
    }
    .header .link a {
        margin-top: 6px !important;
        position: absolute;
        margin-left: 19px;
    
    }
    .header .link .icons {
        
        position: absolute;
        margin-top: 6px;
    }
    
}
/*========================================================================================================*/
/*start tranining */ 
@media (min-width: 320px) and (max-width: 480px) {
    .tranining {
        margin: 0% auto;
        margin-top: 40px;
        margin-left: 15px;
        margin-right: 15px;
        border: 0px;
        box-shadow: 2.4px 2.4px 2.4px 4px #ddd;
        border-radius: 15px;
        width: auto;
        margin-bottom: 50px;
    }
    .tranining .card-body .icons {
     margin-top: 2px;
      
    }
   
    .tranining .icons {
        margin-right: 40px;
    }
    .tranining .card-footer {
        text-align: center;
    }
    
    .tranining .card-footer ul li {
        list-style: none;
        display: inline;
        margin-left: 0px !important;
        padding: 9px;
    }

    
}
@media (min-width: 481px) and (max-width: 767px) { 
    .tranining .card-body .icons {
        margin-top: 0px;
        margin-right: 9px;
     }
}
/*===================================================================================================*/
/*start news and artcal */

@media (min-width: 320px) and (max-width: 480px) {

.card-news {
  
   margin-top: 40px;
   border: 0px;
   margin-left: 20px;
   margin-right: 20px;
   padding-left: 15px;
   padding-right: 15px;
   margin-bottom: 50px;
}
}
/*======================================================================================================*/
/*start navbar */
@media (min-width: 320px) and (max-width: 480px) {
    .navbar-dark .search .btn {
        position: absolute;
        margin-top: 6px !important;
    }
    .navbar-dark .search .btn {
        position: absolute;
        margin-left: 95px;
    }
    .navbar-dark .search input {
        width: 146px;
        margin-left: -13px;
    }
    .navbar-dark .nav-item{
        margin-left: -35px;
    }
    .users {
        margin-left: -6px;
    }
    .users .img-circle img {
        width: 44px;
        height: 44px;
    }  
    .users .dropdown .btn {
        border: 0px;
        margin-left: 71px;
    }  
    .navbar-dark .navbar-nav .dropdown-menu {
        margin-bottom: 10px;
        margin-right: 20px;
        margin-left: -3px !important;
        background-color: #ffffff; 
       
    }
    .navbar-dark .dropdown-menu {
       border: 0px  !important;
    }
    .triangle-up{
        display: none !important;

    }

    .navbar-dark .dropdown-item{
        color: #0c75de !important;
        margin-left: -13px;

    }
    .users .dropdown .profile {
        margin-left: 20px;
    }
    .users .dropdown .triangle-up {
        margin-left: 11px;
    }
    .users .dropdown .visible-sm {
        display: none;
    }
    .navbar-dark .navbar-nav .dropdown-menu>li>a:hover,
    .navbar-dark .navbar-nav .dropdown-menu>li>a:focus {
        color: #FEDE50 !important;
        background-color: transparent;
    }
    .navbar-dark .logo img{
        margin-left: 10px !important;
    }
    .navbar-dark .navbar-nav {
        margin-left: 15px !important;

    }
    
}
@media (min-width: 768px) and (max-width: 992px) {
    .navbar-dark .search input {
        width: 329px !important;
        margin-left: -13px;
    }
    .navbar-dark .navbar-nav .dropdown-menu {
        margin-bottom: 10px;
        margin-right: 20px;
        margin-left: -3px !important;
        background-color: #ffffff;
        box-shadow: 1px 1px 1px 1px #ddd;
        
      
    }
    .navbar-dark .navbar-nav .dropdown-menu .triangle-up {
        display: none;
    }
    .users .dropdown .visible-sm {
        display: none;
    }
    .users .dropdown .profile {
        margin-left: 28px;
    }
    .users {
        margin-left: 22px;
    }
    .navbar-dark .logo img{
        margin-left: 10px !important;
    }
    .navbar-dark .navbar-nav {
        margin-left: 15px !important;

    }
    .navbar-dark .dropdown-item{
        color: #0c75de !important;

    }
  } 

/*=====================================================================================================*/
@media (min-width: 320px) and (max-width: 480px) {
    .upper-bar .info p {
        float: left;
        display: none !important;

    }
    .page-content .visible-sm {
        display: none !important;
    }
    #sidebar {
        margin-left: -19rem;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
        margin: 0;
    }
    .page-content .info {
        margin-left: -1rem;
    }
    .page-content .info .tranining {
        width: 322px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .page-content .info .header .text .time {
    padding: 0px;
   
}
}
@media (min-width: 481px) and (max-width: 767px) { 
    .page-content .visible-sm {
        display: none !important;
    }
    #sidebar {
        margin-left: -19rem;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
        margin: 0;
    }
    .page-content .info {
        margin-left: -1rem;
    }
    .page-content .info .tranining {
        width: 322px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .page-content .info .header .text .time {
    padding: 0px;
   
}
}
@media (min-width: 768px) and (max-width: 950px) {
    
    .page-content .visible-sm {
        display: none !important;
    }
    #sidebar {
        margin-left: -19rem;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
        margin: 0;
    }
    .page-content .info {
        margin-left: 6rem;
    }
    .page-content .info .tranining {
        width: 600px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .page-content .info .header .text .time {
    padding: 0px;
   
}
  } 
/*=============================================================================================*/
/*start sign in */
@media (min-width: 320px) and (max-width: 480px) {
    
    .card_login {
        margin: 20% auto;
        float: none;
    }
    .card_login .form-group {
        width: auto;
        padding: 3px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .card_login .link {
        margin-top: 22px;
        font-size: 15px;
        margin-left: 20px;
    }
    .card_login .btn-primary {
    float: right; 
    margin-top: 18px;
    width: 88px;
    margin-left: 5px;
    height: 33px;
    }
}
@media (min-width: 481px) and (max-width: 767px) { 
    .visible-sm{
        display: none;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
    .visible-sm{
        display: none;
  }
  .card_login {
    margin: 20% auto;
    float: none;
}
.card_login .form-group {
    width: auto;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
}
card_login .link {
    margin-top: 22px;
    float: left;
    margin-left: 20px;
}
.card_login .btn-primary {
margin-top: 18px;
width: 102px;
border-radius: 6px;
margin-right: 14px;
  } }

/*==============================================================================================*/
/*start sign up */
@media (min-width: 320px) and (max-width: 480px) {
    .card_login_img .img ,.card_signup_img .img{
        display: none;}
        .card_signup .form-group .custom-select ,  .card_signup .form-group span .custom-select{
            width: 100% !important;
        } 
    .card_signup {
        float: none;
        margin-top: 47px !important;
        margin-left: 0px;
    }
    /* .card_signup .form-group {
       
        margin-left: 15px;
        margin-right: 15px; 
        width: auto;
    } */
    .card_signup .form-group , .card_signup .control-group {
       
        margin-left: 15px !important;
        margin-right: 15px !important; 
        width: auto;
    }
  
    .card_signup .form-group .setect {
      
        width: 270px;
    }
    .card_signup .form-group .setect_stage {
        width: 270px;
    }
    .card_signup .link {
        margin-top: 14px;
        font-size: 14px;
        float: left;
        margin-left: 15px;


    
    }.card_signup .btn-primary {
    
    margin-top: 8px;
    width: 92px;
    margin-right: auto;
    height: 32px;
    
}
}
@media (min-width: 120px) and (max-width: 320px) {
    .card_signup .form-group .custom-select , .card_signup .form-group span .custom-select{
        width: 100% !important;
    } 
    .card_login_img .img ,.card_signup_img .img{
        display: none;}
        .card_signup .form-group .custom-select ,  .card_signup .form-group span .custom-select{
            width: 100% !important;
        } 
    .card_signup {
        margin-top: 10px !important;
        margin-left: 0px !important;
    }
    .style {
        height: auto !important;}
}
/*=============================================================================================*/
@media (min-width: 320px) and (max-width: 480px) {
    .page-content .info .tranining  .iconss{
        margin-left: 188px;
        margin-top: -46px;
        position: absolute;
    }
    
}
/*============================================================================================*/
@media (min-width: 320px) and (max-width: 480px) {
    .add_project .form {
        margin: 0% auto;
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
    }
    .add_project .btn-primary {
        width: -moz-available;
        padding: 10px;
        margin-top: 5px;
        margin-left: 15px;
        margin-right: 15px;
        width: -webkit-fill-available;
    }
    
    
}
@media (min-width: 481px) and (max-width: 767px) { 
}
@media (min-width: 768px)  {
    
    /* .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2.5rem !important;
        padding-left: .5rem;
    } */
  } 
@media (min-width: 992px) and (max-width: 1200px){

}


@media (min-width: 1215px) and (max-width: 1700px) { 
    #body{overflow: hidden;}
}




@media (min-width: 220px) and (max-width: 573px) {
    .footer .text-sm-right {
        text-align: center
    }
    .footer .info p {
        font-family: 'OpenSans-Regular';
        color: #fff;
        font-weight: bolder;
        font-size: 10px;
        /* margin-top: 20px;
        margin-left: 81px; */
        text-shadow: 0.4px 0.4px 1px #22588F;
    }
}



/*====================================================================================================*/
@media (min-width: 220px) and (max-width: 970px) {
    .rContainer {
      flex-direction: column;
    }

    .l-rColumn {
      order: 2;
      width: 100%;
    }

    .r-rColumn {
      order: 1;
      width: 100%;
    }

    .rightColumn {
      order: 3;
    }
  }

  @media all and (max-width: 970px) and (min-width: 200px) {
    .card_login_img .img {
      width: 100%;
      margin: 70px auto;
    }

    .conta {
      display: flex;
      background: white;
      width: 90%;
      margin: 0 auto;
    }

    .r-rColumn {
      height: 50%;
    }

    .l-rColumn {
      height: 50%;
    }

    .card_signup_img .img {
      width: 100%;
      margin: 70px auto;
    }
  }

 




           
               